<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get started</title>
    <link rel="stylesheet" href="/simple.css"> 
</head>
<body>
    <header>
        <nav>
            <a href="/signin">Register</a>
            <a href="/login">Login</a>
        </nav>
        <h1>Welcome to our website</h1>
    </header>
    <main>
    <p>This is a website that helps you remember and track your goals. Login or sign up for free!</p>
    </main>
    <footer>
    <h4>Website built by Ashar</h4>
    </footer>
</body>
</html>